:root{
  --color-logo:red;
  --coorX:0px;
  --coorY:0px;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.testcoo{
  color: chocolate;
  position: absolute;
  top: var(--coorY); left: var(--coorX);
}
.Applogo {
    height: 40vmin;
    pointer-events: none;
    position: absolute;
    top: var(--coorY);
    left: var(--coorX);
    width: 500px;
    height: 500px;
  }
  
.Applogo g {
fill:var(--color-logo);
}