.container{
    display: flex;
    height: 100vh;
    margin: auto;
    align-items: center;
    justify-content: center;
}
.container2{
    position: absolute;
    top: var(--coorY);
    left: var(--coorX);
    width: 500px;
    height: 500px;
}
.subContainer{
    display: block;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.frame{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    width: 200px;
    height: 200px;
    background-color: purple;
    border-radius: 20%;
}
.frame1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    width: 200px;
    height: 200px;
    background-color:chartreuse;
    border-radius: 20%;
}

.image{
    border-radius: 20%;
}
.Applogo {
    height: 40vmin;
    pointer-events: none;
  }
  
.Applogo g {
fill:var(--color-logo);
}


/* .coucou {
    background-color: blue;
} */